<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="sliding.css" />
  </head>
  <body>

    <header>
      <h1>{{ Titel }}</h1>
      <div>
        <a href="hoofdpagina.html">Menu</a>
      </div>
    </header>

    <main>
      {{ tekst }}
    </main>
  
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
  </body>
</html>